<h1>User Home Page</h1>

<p><%= link_to 'Projects', controller: 'projects' %></p>

<p><%= link_to 'Expense Types', controller: 'expensetypes' %></p>

<p><%= link_to 'Expense Status Types', controller: 'expensestatuses' %></p>

<p><%= link_to 'Expenses', controller: 'expenses' %></p>